.price {
  display: flex;
  flex-direction: column;
  width: 312px;

  gap: 16px;
  margin-top: 5px;
  &__wrap {
    width: 100%;
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: rgb(26, 26, 26);
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
  }
  &__text {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
  }
  &__range {
    cursor: pointer;
    width: 100%;
  }
}

input[type="range"] {
  accent-color: rgb(3, 164, 14);
}
.hidden {
  display: none;
}
.active {
  display: block;
}
