.rating {
  max-width: 312px;
  margin-top: 10px;
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(26, 26, 26);
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
  }
  &__wrapp {
    display: flex;
    // align-items: center;
    gap: 10px;
    margin-top: 30px;
  }

  &__checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  &__star-wrapp {
    display: flex;
    align-content: center;
    gap: 2px;
  }
  &__star {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}

input[type="checkbox"] {
  accent-color: rgb(3, 164, 14);
}
.hidden {
  display: none;
}
.active {
  display: block;
}
