.logo {
  display: flex;
  align-content: center;
  width: 100%;
  height: 93px;
}
.items {
  display: flex;
  align-items: center;
  gap: 8px;
  &__text {
    width: 143px;
    height: 38px;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
  }
}
