.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
}
.nav {
  display: flex;
  align-items: center;
  gap: 32px;
  &__link {
    color: rgb(128, 128, 128);
  }
}
.phone {
  display: flex;
  align-items: center;
  width: 139px;
  height: 28px;
  gap: 8px;
}
#category {
  width: 218px;
  height: 56px;
  padding: 16px 24px 16px 24px;
  cursor: pointer;
  text-align: center;
  color: white;
  background: rgb(0, 179, 7);
}
#home {
  color: gray;
  cursor: pointer;
}
#shop {
  color: gray;
  cursor: pointer;
}
#pages {
  color: gray;
  cursor: pointer;
}
#blog {
  color: gray;
  cursor: pointer;
}
