.product {
  &__wrapp {
    display: grid;
    grid-template-columns: repeat(4, 330px);
    margin-top: 50px;
  }
  &__title {
    color: rgb(26, 26, 26);
    margin-top: 100px;
    font-size: 40px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
  }
}
.link {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  gap: 48px;
  &__ref {
    color: rgb(128, 128, 128);
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
    &:hover {
      color: rgb(0, 179, 7);
    }
    &:link {
      color: rgb(0, 179, 7);
    }
  }
}
.article {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 428px;
  border: 1px solid rgb(44, 116, 47);
  box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
  background: white;
  &__img-wrap {
    padding: 5px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title {
    color: rgb(43, 87, 46);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
  }
  &__price {
    color: rgb(0, 38, 3);
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
  }
  &__star {
    display: flex;
    cursor: pointer;
  }
  &__star:hover {
    fill: rgb(255, 138, 0);
  }
}
