.shopping-cart {
  &__test {
    display: flex;
  }
  &__title {
    margin: 0 auto;
    padding: 40px 32px;
    color: black;
    font-size: 32px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
  }
  &__article-wrapp {
    display: flex;
    flex-direction: column;
    max-width: 872px;
    height: 100%;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 8px;
  }
  &__cap {
    display: flex;
    align-items: center;
    height: 45px;
    padding: 16px 96px 16px 20px;

    border-bottom: 1px solid rgb(230, 230, 230);
  }
  &__caption-product {
    color: rgb(128, 128, 128);
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: left;
    text-transform: uppercase;
  }
  &__caption-price {
    color: rgb(128, 128, 128);
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: left;
    text-transform: uppercase;
    margin-left: 230px;
  }
  &__caption-quantity {
    color: rgb(128, 128, 128);
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: left;
    text-transform: uppercase;
    margin-left: 100px;
  }
  &__caption-subtotal {
    color: rgb(128, 128, 128);
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: left;
    text-transform: uppercase;
    margin-left: 90px;
  }
  &__total {
    display: flex;
    margin-left: 24px;
    flex-direction: column;
    width: 424px;
    height: 296px;
    padding: 24px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 8px;
  }
  &__article {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px 12px 20px;
    border-bottom: 1px solid rgb(230, 230, 230);
  }
  &__info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__img {
    max-width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    background: lightgray;
  }
  &__description {
    /* Body Medium/Body Medium, 400 */
    color: rgb(26, 26, 26);
    font-size: 16px;
    font-weight: 400px;
    line-height: 150%;
  }
  &__price {
    display: flex;
    align-items: center;
  }
  &__wrapp-quantity {
    width: 124px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 170px;
  }
  &__minus {
    width: 34px;
    height: 34px;
    cursor: pointer;
  }
  &__plus {
    width: 34px;
    height: 34px;
    cursor: pointer;
  }
  &__subtotal {
    /* Body Medium/Body Medium, 500 */
    color: rgb(26, 26, 26);
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
  }
  &__close {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  &__links {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 16px 20px 16px 20px;
  }
  &__btn {
    // max-width: 168px;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 32px 14px 32px;
    border-radius: 43px;
    background: rgb(242, 242, 242);
    color: rgb(77, 77, 77);
    font-size: 14px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
  }
}
.total {
  display: flex;
  flex-direction: column;
  gap: 2px;
  &__title {
    color: rgb(26, 26, 26);
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 1px solid rgb(230, 230, 230);
  }
  &__price-info {
    display: flex;
    justify-content: space-between;
    padding: 12px;
  }
  &__text {
    color: rgb(77, 77, 77);
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
  }
  &__subtotal-price {
    color: black;
    font-weight: bold;
    line-height: 150%;
  }
  &__shipping {
    color: black;
    font-weight: bold;
    line-height: 150%;
  }
  &__total {
    color: rgb(77, 77, 77);
    font-weight: 400;
  }
  &__price {
    color: black;
    font-weight: bold;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 376px;
    height: 51px;
    border-radius: 43px;
    background: rgb(0, 179, 7);
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    margin-top: 24px;
  }
}
.coupon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 872px;
  height: 92px;
  margin-top: 24px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 8px;
  padding: 20px;
  background: white;
  &__title {
    /* Body XL/Body XL, 500 */
    color: black;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
  }
  &__input-wrapp {
    position: relative;
    display: flex;
    width: 668px;
  }
  &__input {
    width: 661px;
    height: 52px;

    padding: 14px 24px 14px 24px;
    box-sizing: border-box;
    /* Gray Scale/Gray – 100 */
    border: 1px solid rgb(230, 230, 230);
    border-radius: 46px;

    /* Gray Scale/White */
    background: rgb(255, 255, 255);
  }
  &__btn {
    position: absolute;
    width: 196px;
    height: 52px;
    left: 480px;
    flex-direction: row;
    justify-content: center;
    border-radius: 43px;
    background: rgb(51, 51, 51);
    align-items: center;
    color: white;
    font-weight: 600;
  }
}
